[Desktop Entry]
Name=Wterm
Comment=Terminal emulator for WindowMaker
Comment[pl]=Emulator terminala dla WindowMakera
Exec=wterm
Icon=wterm.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator;
# vi: encoding=utf-8
