[Desktop Entry]
Name=Wterm
Comment=Terminal emulator for WindowMaker
Comment[pl]=Emulator terminala dla WindowMakera
Exec=wterm
Icon=wterm
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
